/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #565A5CFF;
  line-height: 1.5;
  letter-spacing: 0.2px;
  overflow-x: hidden;
}
